{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-2 font-weight-bold text-info">Listado De Proveedores</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Acciones Proveedores</div>
        <a class="dropdown-item" onclick="return abrir_modal('{% url 'cmp:proveedor_new' %}')" href="#"><i class=" fas fa-folder-plus "></i> Agregar </a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    {% if not obj %}
    <div class="alert alert-info">No Proveedores</div>
    {% endif %}
    <table id="table"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-show-columns="true"
    data-show-toggle="true"
    data-toolbar=".buttons-toolbar"
    data-locale="es-HN"
    data-show-export="true"
    
    >
      <thead>
        <th data-field="id" data-sortable="true" >Id</th>        
        <th data-field="descripcion"  >Descripcion</th>
        <th data-field="direccion"  >Dirección</th>
        <th data-field="contacto" data-sortable="true" >Contacto</th>
        <th data-field="telefono"  >Teléfono</th>
        <th data-field="email"  >EMail</th>
        <th data-field="estado"  >Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody>
        {% for item in obj %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.contacto }}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.email }}</td>
          <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
          <td>
            <button class="btn btn-info btn-info" onclick="return abrir_modal('{% url 'cmp:proveedor_edit' item.id %}')"><i class="far fa-edit"></i></button>
            <button class="btn btn-info btn-light" onclick="return abrir_modal('{% url 'cmp:proveedor_inactivar' item.id %}')">
              <i class="fas fa-toggle-off"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block js_page %}


<script>
// Call the dataTables jQuery plugin
$(document).ready(function() {

  $("#sidebarToggle").click();


  var $table = $('#table')

  $(function() {
    $('#toolbar').find('select').change(function () {
      $table.bootstrapTable('destroy').bootstrapTable({
        exportDataType: $(this).val(),
        exportTypes: [ 'txt', 'excel', 'pdf'],
      })
    }).trigger('change')
  })

});
</script>
{% endblock %}